# Python
__pycache__/
*.py[cod]
*.db
*.sqlite

# Environment
.env
.env.*

# Node
node_modules/
dist/

# Logs
*.log

# Docker
*.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# JellyReport
config/*.db
config/*.sqlite
